<form class="form-horizontal" action="still" method="POST">
	<div class="control-group">
		<label class="control-label" contenteditable="true" >图片名</label>
		<div class="controls">
			<input name="name" type="text" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" contenteditable="true" >内容</label>
		<div class="controls">
			<textarea name="content" cols="30" rows="5"  ></textarea>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" contenteditable="true" >图片地址</label>
		<div class="controls">
			<input name="pic_url" type="text" />
		</div>
	</div>
	
	<%= yield%>

	<div class="control-group">
		<div class="controls">
			<button class="btn" contenteditable="true" type="submit">添加</button>
		</div>
	</div>
</form>

