
<div class="container">
<br>
<br>
<table>
   <tr>
      <td> </td>
      <td>
         <form action='/user/add' method='post' class="form-signin">
            <h2 class="form-signin-heading">input user info </h2>
            <input name='nikname' type="text" class="input-block-level" placeholder="user name">
            <input name='password' type="password" class="input-block-level" placeholder="Password">
             <input name='realname' type="text" class="input-block-level" placeholder="real name">
             <input name='email' type="text" class="input-block-level" placeholder="Email address">

            <button class="btn btn-large btn-primary" type="submit">添加</button>
         </form>
      </td>
      <td></td>
   </tr>
</table>
</div>
