<link href="/css/home/main.css" rel="stylesheet" type="text/css">
<div id="main">
	<span>欢迎来到<strong>爱图片&爱故事</strong></span>
</div>

<div id="info">
	<span>目前正在做一个关于图片&故事的应用，欢迎有此意向的同学加入。</span>
	<span>一图一世界，一图一故事</span>
</div>

<div id="contact">
		<p>e-mail: fanwy11@163.com</p>
		<p>坐标:&nbsp北京</p>
</div>
