<div class="container">
<br>
<br>
<table>
   <tr>
      <td> </td>
      <td>
         <form action='/login' method='post' class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input name='name' type="text" class="input-block-level" placeholder="Email address">
            <input name='password' type="password" class="input-block-level" placeholder="Password">
            <label class="checkbox">
               <input name='is_remember' type="checkbox" value="true"> Remember me
            </label>
            <button class="btn btn-large btn-primary" type="submit">Sign in</button>
         </form>
      </td>
      <td></td>
   </tr>
</table>
</div>
