	<div class="control-group">
		<label class="control-label" contenteditable="true" >电影名</label>
		<div class="controls">
			<input name="movie_name" type="text" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" contenteditable="true" >别名</label>
		<div class="controls">
			<input name="other_name" type="text" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" contenteditable="true" >导演</label>
		<div class="controls">
			<input name="director" type="text" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" contenteditable="true" >年份</label>
		<div class="controls">
			<input name="date" type="text" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" contenteditable="true" >主演</label>
		<div class="controls">
			<input name="main_actor" type="text" />
		</div>
	</div>

